<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view item |feelGood.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--    navigation stylesheet-->
    <link rel="stylesheet" href="/assets/designs.css">
    <!--    shop stylesheet-->
    <link rel="stylesheet" href="/assets/viewItem.css">
    
</head>

<body>
    <!--    navigation-->
     <%include partials/navigation.ejs %>
    
    <div class="container content">
    
        <div class="row itemDetails">
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    <div class="container-fluid">
                        <h1><%=data.item_details.name%></h1>
                        <figure class="figure">

                            <% if (data.item_details.img == null){ %>
                                <%  data.item_details.img = {"location":"/images/default.jpg"}; %> 
                                <% } %>

                            <img class="img-thumbnail img-responsive mx-auto" src=<%=data.item_details.img.location%>>
                            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                        </figure>
                    </div>
                </div>
                <div class="row itemDetails">
                   <div class="row lead">
                        <div id="hearts-existing" class="starrr" data-rating='0'></div>
                        <span id="rated">Ratings: </span><span id="count-existing">0</span>/5 (<span id="noOfRatings">0</span> users)
                    </div>
                    <div class="container-fluid">
                     <button id ="addToCart" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 description">

                <h5>Brand</h5>
                <p><%=data.item_details.brand%></p>

                <h5>Description</h5>
                <p><%=data.item_details.Description%></p>
                
                <h5>Price</h5>
                <p>Rs <%=data.price%></p>
                
                <h5>Sold By</h5>
                <p><%=data.retailer_details.name%> @ <%=data.retailer_details.location%></p>
                
                <h5>Material</h5>
                <p><%=data.item_details.Material%></p>

                <h5>Date Added</h5>

                <% var date = new Date(data.added); %>
                <% var dd = date.getDate(); %>
                <% var mm = date.getMonth()+ 1 ; %>
                <% var yyyy = date.getFullYear(); %>
                <% var ddmmyyyy = dd + '/' + mm + '/' + yyyy; %>

                <p><%=ddmmyyyy%></p>
                
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row comments">
            <div class="col-xs-12">
                <h1>comments <span class="glyphicon glyphicon-link glyphicon-menu-down"></span></h1>
                <hr>
                <div id="commentSection">
                    <div id = "newComment">
                        <div class="form-group">
                          <label for="comment">Your Review:</label>
                            <textarea class="form-control" rows="3" id="comment"></textarea>
                        </div>
                        <button type="submit" id="submitComment" class="btn btn-success">Submit</button>
                    </div>
                    <div id="submittedComments">
                        <!-- ajax to fetch comments here -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/viewItem.js"></script>
</body>
</html>
